html{
    font-size: 62.5%;
}

.Calculator_main{
    /*background-color: blue;*/
    display: flex;
    width: 18rem;
    height: 20rem;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-left: 50rem;
    margin-right: 25rem;
    margin-top: 15rem;
}
p{
    width: 16rem;
    font-weight: bold;
    font-size: 2rem;
    font-display: left;
    margin-bottom: 0px;
    border: 1px solid;
    height: 4rem;
    text-align: right;
}
button{
    width: 4rem;
    height: 3.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    
}
@media only screen and (max-width: 600px) {
    html{
      font-size: 30%;
    }
   
  }